<h1>User Managment</h1>
  <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>edit</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="donationdata">
        <td>{{userdata.firstName}}</td>
        <td>{{userdata.lastName}}</td>
        <td>{{userdata.email}}</td>
        <td>{{userdata.role}}</td>
        
        </tr> -->
      </tbody>
    </table>
    <router-outlet></router-outlet>


  