
<p class="heading"><strong>User Information</strong></p>

    <div class="formContainer">
        <label> Username: </label>
        <input type="text" class ="form-control" [(ngModel)] = "username" placeholder = "Enter Username">
    </div>

    <div class="formContainer">
        <label> First Name: </label>
        <input type="text" class ="form-control" [(ngModel)] = "first_name" placeholder = "Enter First Name">
    </div>

    <div class="formContainer">
        <label> Last Name: </label>
        <input type="text" class ="form-control" [(ngModel)] = "last_name" placeholder = "Enter Last Name">
    </div>

    <div class="formContainer">
        <label> Email: </label>
        <input type="text" class ="form-control" [(ngModel)] = "email" placeholder = "Enter Email">
    </div>

    <div class="formContainer">
        <label> Password: </label>
        <input type="text" class ="form-control" [(ngModel)] = "password" placeholder = "Enter password">
    </div>

    <div class="formContainer">
        <label> Role: </label>
        <input type="text" class ="form-control" [(ngModel)] = "role" placeholder = "Enter role: admin/user">
    </div>

    <button (click) = "AddUser()"  *ngIf="dep.id==0" class="btn btn-primary" value="Add/Update">Add</button>
    <button (click) = "UpdateUser()"  *ngIf="dep.id!=0" class="btn btn-primary" value="Add/Update">Update</button>




<style>
.EditPage{
  background: rgb(195,201,213);
background: linear-gradient(90deg, rgba(195,201,213,1) 17%, rgba(133,161,215,1) 83%);
    color:black;
}

    
}
.formButtons {
    font-size: 16px;
    margin-left: 90%;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
        display: inline-block;
        width: 150px;
      }
.heading{
  font-size:25px;
}
</style>