

<mat-toolbat>

      <mat-sidenav-container> 
            <mat-sidenav>
                  <div class="container">
                      <ul class="nav" routerLinkActive="active">
                          <li><a class="nav-link" routerLink="/users">User Managment</a></li>
                          <li><a class="nav-link" routerLink="/">Donation Managment</a></li>
                          <li><a class="nav-link" routerLink="/infoForm">Forms</a></li>
                          <li><a class="nav-link" routerLink="/gift">Give</a></li>
                          
                      </ul>
                  </div>
            </mat-sidenav>
      </mat-sidenav-container> 
</mat-toolbat>

<router-outlet></router-outlet>
<style>

.nav {
  background-color:gray; 
  margin: 50;
  padding: 500;
}

</style>




            
