



                  <nav class="bar">
                      <div class="container">
                          <a class="navbar-brand"></a>
                          <ul class="nav" routerLinkActive="active">
                              <li><a class="nav-link" routerLink="/gift">Give</a></li>
                              <li><a class="nav-link" routerLink="/">Donation Managment</a></li>
                              <li><a class="nav-link" routerLink="/infoForm">Forms</a></li>
                              <li><a class="nav-link" routerLink="/users">User Managment</a></li>
                              <li><a class="nav-link" routerLink="/login">Login</a></li>
                          </ul>
                      </div>
                  </nav>



<style>
.bar{
  width: 100%;
}
.nav {
  background-color:black; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

</style>

<router-outlet></router-outlet> 



            
