




  <div class="container">
      <nav class="navbar navbar-expand-sm bg-light navbar-dark">
          <a class="nav-link" routerLink="/gift">Give</a>
          <a class="nav-link" routerLink="/">Donation Managment</a>
          <a class="nav-link" routerLink="/infoForm">Forms</a>
          <a class="nav-link" routerLink="/users">User Managment</a>
          <a class="nav-link" routerLink="/login">Login</a>
          <a class="nav-link" (click)="logout()">Log out</a>
      </nav>
  </div>




<style>




</style>

<router-outlet></router-outlet> 



            
