<h1>Donation Managment</h1>
  <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Donation Type</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="donationdata">
          <td>{{donationdata.name}}</td>
          <td>{{donationdata.date}}</td>
          <td>{{donationdata.amount}}</td>
          <td>{{donationdata.donationType}}</td>
        
        </tr> -->
      </tbody>
    </table>
    <router-outlet></router-outlet>


  