<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"></a>
        <ul class="nav" routerLinkActive="active">
            <li><a class="nav-link" routerLink="/gift">Give</a></li>
            <li><a class="nav-link" routerLink="/manage">About</a></li>
            <li><a class="nav-link" routerLink="/infoForm">Forms</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<style>
.nav {
  background-color:black; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}
</style>